[submodule "git-modules/auto-complete"]
	path = git-modules/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "git-modules/magit"]
	path = git-modules/magit
	url = git://github.com/magit/magit.git
[submodule "git-modules/rspec"]
	path = git-modules/rspec
	url = git://github.com/pezra/rspec-mode.git
[submodule "git-modules/org"]
	path = git-modules/org
	url = git://github.com/emacsmirror/org.git
[submodule "git-modules/markdown"]
	path = git-modules/markdown
	url = git://jblevins.org/git/markdown-mode.git
[submodule "git-modules/yaml-mode"]
	path = git-modules/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "git-modules/nginx-mode"]
	path = git-modules/nginx-mode
	url = git://github.com/ajc/nginx-mode.git
[submodule "git-modules/js2-mode"]
	path = git-modules/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "git-modules/coffee-mode"]
	path = git-modules/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "git-modules/lua-mode"]
	path = git-modules/lua-mode
	url = git://github.com/immerrr/lua-mode.git
[submodule "git-modules/scss-mode"]
	path = git-modules/scss-mode
	url = git://github.com/antonj/scss-mode.git
[submodule "git-modules/haml-mode"]
	path = git-modules/haml-mode
	url = git://github.com/nex3/haml-mode.git
[submodule "git-modules/ruby-electric"]
	path = git-modules/ruby-electric
	url = git://github.com/qoobaa/ruby-electric.git
[submodule "git-modules/ruby-end"]
	path = git-modules/ruby-end
	url = git://github.com/rejeep/ruby-end.git
[submodule "git-modules/melpa"]
	path = git-modules/melpa
	url = git://github.com/milkypostman/melpa.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "git-modules/rhtml-mode"]
	path = git-modules/rhtml-mode
	url = git://github.com/eschulte/rhtml.git
[submodule "git-modules/cucumber"]
	path = git-modules/cucumber
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "git-modules/popup"]
	path = git-modules/popup
	url = git://github.com/m2ym/popup-el.git
[submodule "git-modules/yasnippet"]
	path = git-modules/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "git-modules/rvm"]
	path = git-modules/rvm
	url = git://github.com/senny/rvm.el.git
[submodule "git-modules/php-mode"]
	path = git-modules/php-mode
	url = git://github.com/ejmr/php-mode.git
[submodule "git-modules/theme-solarized"]
	path = git-modules/theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "git-modules/full-ack"]
	path = git-modules/full-ack
	url = git://github.com/nschum/full-ack.git
[submodule "git-modules/json-mode"]
	path = git-modules/json-mode
	url = git://github.com/joshwnj/json-mode.git
[submodule "git-modules/flycheck"]
	path = git-modules/flycheck
	url = git://github.com/lunaryorn/flycheck.git
